<ul class="terms">
  <li>
    <h3>Monthly Plans</h3>
    <p>All paid plans work on a monthly billing cycle, and the prices shown on this page reflect the monthly costs of using the service.</p>
  </li>
  <li>
    <h3>Upgrade or Downgrade Anytime</h3>
    <p>Once you signup you can upgrade, downgrade, or cancel your account at any time. The new charge will take effect on your next billing. If you cancel your account, we'll never bill you again. We don't pro-rate partial months, and we cannot issue refunds for partial or previous months.</p>
  </li>
  <li>
    <h3>Questions?</h3>
    <p>Have questions about plans or billing? <%= link_to "Get in touch", "http://help.#{request.domain}" %>!</p>
  </li>
</ul>

