<div id="blank_slate_accounts">
  <h6>You don't have any projects yet</h6>
  <%= link_to 'Create a project',
              new_account_project_path(account),
              :class => 'blank_slate_action' %>
</div>
